<button type="button" 
	data-elementid="{{ event.element.id }}"
	data-handle="{{ event.sender.handle }}"
	data-originalsiteid="{{ original_site.id }}"
	data-hash="{{ hash }}"
	class="btn abmtranslationhelper">
	{{ 'Show original text'|t('abm-translationhelper') }}
</button>